USE [master]
GO
/****** Object:  Database [dbGestDisp ]    Script Date: 10/07/2021 04:28:58 p. m. ******/
CREATE DATABASE [dbGestDisp ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbGestDisp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbGestDisp .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbGestDisp _log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbGestDisp _log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbGestDisp ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbGestDisp ]
GO
/****** Object:  Table [dbo].[catArea]    Script Date: 10/07/2021 04:28:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catArea](
	[clave_area] [int] NOT NULL,
	[nombre_area] [varchar](20) NOT NULL,
 CONSTRAINT [PK_catArea] PRIMARY KEY CLUSTERED 
(
	[clave_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catDisp]    Script Date: 10/07/2021 04:28:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catDisp](
	[clave_disp] [int] NOT NULL,
	[nombre_disp] [varchar](30) NOT NULL,
 CONSTRAINT [PK_catDisp] PRIMARY KEY CLUSTERED 
(
	[clave_disp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catEdo]    Script Date: 10/07/2021 04:28:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catEdo](
	[codigo_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catEmp]    Script Date: 10/07/2021 04:28:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catEmp](
	[numEmp] [char](10) NOT NULL,
	[nombEmp] [varchar](50) NULL,
 CONSTRAINT [PK_catEmp] PRIMARY KEY CLUSTERED 
(
	[numEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catRadio]    Script Date: 10/07/2021 04:28:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catRadio](
	[idRadio] [nchar](8) NOT NULL,
	[codigoQR] [varchar](50) NULL,
 CONSTRAINT [PK_catRadio] PRIMARY KEY CLUSTERED 
(
	[idRadio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catSucursal]    Script Date: 10/07/2021 04:28:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catSucursal](
	[idsuc] [nchar](10) NOT NULL,
	[nombre] [nchar](15) NOT NULL,
 CONSTRAINT [PK_catSucursal] PRIMARY KEY CLUSTERED 
(
	[idsuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportesRadio]    Script Date: 10/07/2021 04:28:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportesRadio](
	[numero_reporte] [int] IDENTITY(1,1) NOT NULL,
	[fecha_asignacion] [date] NOT NULL,
	[observaciones] [varchar](100) NOT NULL,
	[numero_radio] [nchar](8) NOT NULL,
	[resp] [char](10) NOT NULL,
	[sucursal] [nchar](10) NOT NULL,
	[area] [int] NOT NULL,
	[estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[reportesRadio]  WITH CHECK ADD FOREIGN KEY([estado])
REFERENCES [dbo].[catEdo] ([codigo_estado])
GO
ALTER TABLE [dbo].[reportesRadio]  WITH CHECK ADD FOREIGN KEY([numero_radio])
REFERENCES [dbo].[catRadio] ([idRadio])
GO
ALTER TABLE [dbo].[reportesRadio]  WITH CHECK ADD FOREIGN KEY([sucursal])
REFERENCES [dbo].[catSucursal] ([idsuc])
GO
ALTER TABLE [dbo].[reportesRadio]  WITH CHECK ADD FOREIGN KEY([area])
REFERENCES [dbo].[catArea] ([clave_area])
GO
ALTER TABLE [dbo].[reportesRadio]  WITH CHECK ADD FOREIGN KEY([resp])
REFERENCES [dbo].[catEmp] ([numEmp])
GO
USE [master]
GO
